.main-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    text-shadow: 1px 3px 15px rgba(136, 156, 208, 1);
    padding-top: 0px;
    margin-top: 30px;
    margin-bottom: 40px;
 
}

.card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgba(52, 55, 56, 0.6);
    padding: 20px;
    row-gap: 30px;
    column-gap: 15px;
}


@media screen and (min-width: 768px) {
.main-title{
    justify-content: start;
    margin-left:15px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 1024px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
}