.main-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0.1875rem 0.1875rem 0.4375rem rgba(0, 0, 0, 0.7);
    padding-top: 0px;
    padding-bottom: 50px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgba(52, 55, 56, 0.6);
    padding: 20px;
}

@media screen and (min-width: 768px) {
.main-title{
    justify-content: start;
    padding-left:14px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(52, 55, 56, 0.6);
    padding: 20px;
}

}
@media screen and (min-width: 1024px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: rgba(52, 55, 56, 0.6);
        padding: 20px;
    }
}
