.search-container{
display: grid;
place-content: end;
}

.magnify-glass{
    color: white;
    margin-top: 20px;
    margin-right: 15px;
  
}

.search-title{
    color: white;
    margin-top: 20px;
    padding-left: 5px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.search-pop-up{
    background-color:rgba(34, 55, 68, 0.5);
    border: none;
    border-radius: 5px;
    padding-right: 5px;
    padding-left:5px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.2s ease-in-out;

}
.search-game-name{
    border: none;
    border-radius: 5px;

}
.search-game-name-btn{
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-left: 5px;
    background-color: rgba(34, 55, 68, 0.5);
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(9, 17, 52, 0.5);

}
/*media queries for ipad*/
@media screen and (min-width: 768px) {

}

/*media queries for desktop*/
@media screen and (min-width: 1024px) {
  
}
