.card-overlay-buttons {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: center;
    text-transform: uppercase;
}
.card-overlay-buttons li{
    display: block;
    padding:12px;
}
.edit-character-link, button#delete-game-btn{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(34, 55, 68, 0.5);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(9, 17, 52, 0.5);
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
    width: 136px;
    height: 33px;

}

.edit-character-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.edit-character-link a:link, a:visited, button#delete-character-btn a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
