.add-new-char-btn {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(140px);
}

.add-new-char-btn-open {
    color: rgba(255, 255, 255, 1);
    background: #0B1B29;
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 215px;
    text-align: left;
    border: none;
    border-radius: 50px;
    transition: 0.7s;
    transition-property: transform;
}

.add-new-char-btn-open:hover {
    transform: translate(-120px, 0);
    color: #FF8300;
}
