

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  

}



.navbar {
  position:sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right,
  rgba(62, 108, 197, 0.6) 0%,
  rgba(62, 108, 197, 0.4) 0%,
  rgba(138, 173, 240, 0.1) 60%);
  box-shadow: 0 5px 15px rgba(62, 108, 197, 0.4);
  height: 70px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav-links li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  color: #fff;
  transition: 0.2s ease-in-out;

}
.nav-links li a:hover {
  color: #FF8300;

}
.nav-links li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -4px;
  left: 20px;

}

.navbar-burger {
  display: none;
}


.logo {

  width: 50px;
  height: 50px;
}

.hamburger-menu {
  width: 40px;
  height: 4 0px;
  padding: 7px;
}

button {
  background: transparent;
  border: none;
  outline: none;
}


@media screen and (max-width: 769px) {
  
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: 70px;
    left: 0px;
    width: 200px;
    height: 100vh;
    background: #0B1B29;
    padding: 40px 0 0 10px;
    transition: 0.2s ease-in-out;
  }

  .nav-links li {
    margin-bottom: 25px;
  }

  .navbar-burger {
    display: block;
  }

  .navbar-burger .hamburger-menu/*mobile*/ {
    cursor: pointer;

  }



  
  
}
