* {
    box-sizing: border-box;
  }
  
  .navbar {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: linear-gradient(to right,
    rgba(62, 108, 197, 0.6) 0%,
    rgba(62, 108, 197, 0.4) 0%,
    rgba(138, 173, 240, 0.1) 60%);
    color: #f9f9f9;
    box-sizing: border-box;
  }
  
  @media only screen and (min-width: 600px) {
    .navbar   {
      justify-content: space-between;
      padding: 0 0 0 16px;
    }
  }


  .navbar-burger {
    position: absolute;
    left: 0;
    width: 64px;
    padding: 0;
  }
  
  .hamburger-menu {
    width: 40px;
    height: 40px;
  }

  .hamburger-menu img {
    width: 100%;
    height: 100%;
  }

  button {
    background: transparent;
    border: none;
    outline: none;
  }

  @media only screen and (min-width: 600px) {
    .navbar-burger {
      display: none;
    }
  }
  
  .logo {
    position: absolute;
    margin: 0;
    width: 50px;
  }
  
  .nav-links {
    position: fixed;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    visibility: hidden; 
    transition: translate 0.3s;
    width: 100%;
   
  }

  
  @media only screen and (min-width: 600px) {


    
    .nav-links{
      position: absolute;
      display: block;
      list-style: none;
      left: 0;
      top: 10%;
      translate: 0 0;
      background: linear-gradient(to right,
      rgba(62, 108, 197, 0.6) 0%,
      rgba(62, 108, 197, 0.4) 0%,
      rgba(138, 173, 240, 0.1) 60%);
      flex-direction: row;
      visibility: visible;
    }
  }
 

  a:link, a:visited {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Karla', sans-serif;

  }

  